# Cypress specific folders and files
cypress/screenshots/
cypress/videos/

# Allure results and reports
allure-results/
allure-report/

# Node.js dependencies
node_modules/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables (se estiver utilizando arquivos .env)
.env
