# Webstorm
.idea

# Cypress specific folders and files
cypress/screenshots/
cypress/videos/

# Node.js dependencies
node_modules/

# Allure
allure-results/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables (se estiver utilizando arquivos .env)
.env
