{
  "username": "seu-usuario@exemplo.com.br",
  "password": "sua-senha",
  "username_cobranca": "usuario-cobranca@exemplo.com.br",
  "password_cobranca": "senha-cobranca",
  "username_nfse": "usuario-nfse@exemplo.com.br",
  "password_nfse": "senha-nfse"
}
